certifi==2019.11.28
chardet==3.0.4
Click==7.0
datadog==0.33.0
ddtrace==0.33.0
decorator==4.4.1
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
psutil==5.6.7
requests==2.22.0
urllib3==1.25.8
virtualenv==16.7.9
Werkzeug==0.16.1
